<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>

<HEAD>
    <TITLE>Best Regards</TITLE>
    <META content="text/html; charset=unicode" http-equiv=Content-Type>

<BODY>
    <P style="FONT-SIZE: 10pt; MARGIN-BOTTOM: 5pt; FONT-FAMILY: ARIAL; MARGIN-TOP: 0pt">
    <TABLE style="width: 100%; PADDING:15PX;   BACKGROUND-COLOR: #F6F6F6;" cellSpacing=0 cellPadding=0 border=0>
        <TBODY>

            <TR>
                <TD style="FONT-SIZE: 10pt; border-right: 1px solid #868484; FONT-FAMILY: Arial; WIDTH: 200px"
                    rowSpan=2>
                    <!-- <IMG border=0 src="https://pbgcare.co.uk/email-img/Digital-Consulting-Logo.png"> -->
                    <IMG border=0 width="400px" height="auto" src="https://prudentbusinessgroup.org/static/media/Frame.a91e4c45.svg">

                </TD>

                <TD style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; WIDTH: 280px; PADDING-LEFT: 20px" vAlign=top>
                    <STRONG style="FONT-SIZE: 22pt; FONT-FAMILY: Arial; color: #d93535;">Olaoluwa Davies</STRONG><BR>
                    <p style="margin: 0; color: #868484; font-size: 15px;">CEO </p><BR>

                    <TABLE style="WIDTH: 250px; " cellSpacing=0 cellPadding=0 border=0>

                        <TBODY>

                            <TR>
                                <TD style="FONT-SIZE: 9pt; FONT-FAMILY: Arial; WIDTH: 200px; COLOR: #000000; PADDING-BOTTOM:10PX;"
                                    vAlign=top><IMG border=0 src="https://pbgcare.co.uk/email-img/Address-Icon.png"
                                        align="center">&nbsp;&nbsp;<A
                                        style="FONT-SIZE: 10pt; TEXT-DECORATION: none; COLOR: #868484;"
                                        href="https://www.google.ng/maps/search/++G22+Prudent,+Crown+House,+Home+Gardens,+Dartford,+Kent+DA1+1DZ+London/@51.4460462,0.2180664,17z/data=!3m1!4b1">
                                        G22 Prudent, Crown House, Home Gardens, Dartford - DA1 1DZ
                                    </A>
                                </TD>

                            </TR>


                            <!-- <TR>
                                <TD style="FONT-SIZE: 9pt; FONT-FAMILY: Arial; WIDTH: 200px; COLOR: #000000; PADDING-BOTTOM:10PX; "
                                    vAlign=top><IMG border=0 src="https://pbgcare.co.uk/email-img/Mail.png"
                                        align="center">&nbsp;&nbsp;<A
                                        style="FONT-SIZE: 10pt; TEXT-DECORATION: none; COLOR: #868484;"
                                        href="mailto:admin@prudentbusinessgroup.org">admin@prudentbusinessgroup.org</A>
                                </TD>
                            </TR> -->

                            <TR>
                                <TD style="FONT-SIZE: 9pt; FONT-FAMILY: Arial; WIDTH: 200px; COLOR: #000000; PADDING-BOTTOM:10PX; "
                                    vAlign=top><IMG border=0 src="https://pbgcare.co.uk/email-img/Phone.png"
                                        align="center">&nbsp;&nbsp;<A
                                        style="FONT-SIZE: 10pt; TEXT-DECORATION: none; COLOR: #868484;"
                                        href="tel:+441322424499">+44 132 2424 499</A></TD>
                            </TR>

                            <TR>
                                <TD style="FONT-SIZE: 9pt; FONT-FAMILY: Arial; WIDTH: 200px; COLOR: #000000; PADDING-BOTTOM:10PX; "
                                    vAlign=top><IMG border=0 src="https://pbgcare.co.uk/email-img/Web-Icon.png"
                                        align="center">&nbsp;&nbsp;<A
                                        style="FONT-SIZE: 10pt; TEXT-DECORATION: none; COLOR: #868484;"
                                        href="https://prudentbusinessgroup.org">www.prudentbusinessgroup.org</A></TD>
                            </TR>

                        </TBODY>
                    </TABLE>
                </TD>
            </TR>
            <TR>
                <TD style="FONT-SIZE: 8pt; FONT-FAMILY: Arial; WIDTH: 280px; PADDING-LEFT: 20px" vAlign=bottom>
                    <A href="https://www.facebook.com/pbgroupdigital/"
                        style="TEXT-DECORATION: none; COLOR: #868484;"><IMG align="center" border=0
                            src="https://pbgcare.co.uk/email-img/facebook.png">&nbsp;pbgroupdigital</A> &nbsp;
                    <A href="https://www.instagram.com/prudent_digital/"
                        style="TEXT-DECORATION: none; COLOR: #868484;"><IMG align="center" border=0
                            src="https://pbgcare.co.uk/email-img/Instagram.png">&nbsp;prudent_digital</A>
                    &nbsp;
                    <A href="https://www.linkedin.com/company/prudent-business-group-ltd/"
                        style="TEXT-DECORATION: none; COLOR: #868484;"><IMG align="center" border=0width="20px"
                            height="20px"
                            src="https://image.flaticon.com/icons/png/512/174/174857.png">&nbsp;prudent-business-group-ltd</A>
                </TD>
            </TR>
        </TBODY>
    </TABLE>
    </P>

</BODY>

</HTML>
