<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
</style>

<HEAD>
    <TITLE>Best Regards</TITLE>
    <META content="text/html; charset=unicode" http-equiv=Content-Type>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</HEAD>

<BODY style="color: #868484;">
    <table border="0" cellpadding="0" style="width: 760px; height: auto">
        <tr>
            <td style="width: 40%; border: 1.5rem solid #47518b; height: 100%; background-color: #47518b;">
                <img src="https://i.postimg.cc/FH6PBRFn/digital.png" alt="Logo">

            </td>
            <td align="top" style="width: 60%; border: 1.5rem solid #F6F6F6; height: 100%; background-color: #F6F6F6;">
                <h1 style="font-size: 2rem; color: #d93535;">Mehrdad Fathy</h1>
                <p>Operations Officer</p>
                <table style="margin-top: 1rem;">
                    <tr>
                        <td style="width: 40%;">
                            <p style="font-size: 0.8rem;"><strong style="font-size: 1.1rem; color: #d93535;">T</strong>

                                +44 739 9610 833</p>
                            <p style="font-size: 0.8rem; margin-top: 1rem;"><strong
                                    style="font-size: 1.1rem; color: #d93535;">W</strong>
                                pbgdigital.co.uk</p>
                        </td>
                        <td style="width: 60%;">
                            <p style="font-size: 0.8rem;"><strong style="font-size: 1.1rem; color: #d93535;">A</strong>
                                G22
                                Prudent, Crown House, Home Gardens, Dartford - DA1 1DZ</p>
                            <p style="font-size: 0.8rem;"><strong style="font-size: 1.1rem; color: #d93535;">E</strong>
                                operationsofficer@pbgdigital.co.uk</p>
                        </td>

                    </tr>
                </table>

                <div style="width: 50%; margin: auto; margin-top: 1.5rem;">
                    <a href="https://facebook.com" style="text-decoration: none; ">
                        <img src="https://i.postimg.cc/3R5t3cvX/facebook.png" alt="Facebook">
                    </a>
                    <a href="https://instagram.com" style="text-decoration: none; margin: 0 2rem;  ">
                        <img style="display: inline-block; margin-top: 1rem;"
                            src="https://i.postimg.cc/bv26chsY/instagram.png" alt="Instagram">

                    </a>
                    <a href="https://linkedin.com" style="text-decoration: none; ">
                        <img src="https://i.postimg.cc/fLcByfc6/linkedin.png" alt="linkedIn">
                    </a>

                </div>
            </td>

        </tr>
    </table>

</BODY>

</HTML>

<!-- grey: 868484 -->
<!-- red: d93535 -->
<!-- white: F6F6F6 -->