<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
</style>

<HEAD>
    <TITLE>Best Regards</TITLE>
    <META content="text/html; charset=unicode" http-equiv=Content-Type>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</HEAD>

<BODY style="color: #868484;">
    <table border="0" border-collapse: collapse; cellspacing="0" cellpadding="0"
        style="width: 760px; height: auto; border-collapse: collapse;">
        <tr>
            <td style="width: 40%; padding: 25px; height: 100%; background-color: #47518b;">
                <img src="https://i.postimg.cc/FH6PBRFn/digital.png" alt="Logo">

            </td>
            <td align="top" style="width: 60%; padding: 25px; height: 100%; background-color: #F6F6F6;">
                <h1 style="font-size: 32px; margin-bottom: 0; color: #d93535;">Mehrdad Fathy</h1>
                <p style="font-size: 17px; color: #868484;">Operations Officer</p>
                <table style="margin-top: 16px;">
                    <tr>
                        <td style="width: 40%;">
                            <p style="font-size: 13px; color: #868484;"><strong
                                    style="font-size: 16px; color: #d93535;">T</strong>

                                <a style="text-decoration: none; color: #868484;"" href=" tel:+447399610833"> +44 739
                                    9610 833</a>
                            </p>
                            <p style="font-size: 13px; margin-top: 16px; color: #868484;"><strong
                                    style="font-size: 18px; color: #d93535;">W</strong>
                                <a style="text-decoration: none; color: #868484;"" href=" https://pbgdigital.co.uk">
                                    pbgdigital.co.uk</a>

                            </p>
                        </td>
                        <td style=" width: 60%;">
                            <p style="font-size: 13px; color: #868484;"><strong
                                    style="font-size: 16px; color: #d93535;">A</strong>
                                <a style="text-decoration: none; color: #868484;"" href="
                                    https://goo.gl/maps/dwPRMoEZgvmixpRU6">
                                    G22
                                    Prudent, Crown House, Home Gardens, Dartford - DA1 1DZ</a>
                            </p>
                            <p style="font-size: 13px; color: #868484;"><strong
                                    style="font-size: 16px; color: #d93535;">E</strong>
                                <a style="text-decoration: none; color: #868484;"
                                    href="mailto:operationsofficer@pbgdigital.co.uk">operationsofficer@pbgdigital.co.uk</a>
                            </p>
                        </td>

                    </tr>
                </table>

                <div style="width: 50%; margin: auto; margin-top: 25px;">
                    <a href="https://www.facebook.com/pbgroupdigital/" style="text-decoration: none; ">
                        <img src="https://i.postimg.cc/3R5t3cvX/facebook.png" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com/prudent_digital/"
                        style="text-decoration: none; margin: 0 32px;  ">
                        <img style="display: inline-block; margin-top: 18px;"
                            src="https://i.postimg.cc/bv26chsY/instagram.png" alt="Instagram">

                    </a>
                    <a href="https://www.linkedin.com/company/prudent-business-group-ltd/"
                        style="text-decoration: none; ">
                        <img src="https://i.postimg.cc/fLcByfc6/linkedin.png" alt="linkedIn">
                    </a>

                </div>
            </td>

        </tr>
    </table>

</BODY>

</HTML>